@model Domain.Dto.BaseListResultDto<Domain.Dto.Identificacao.UsuarioListDto>

@{
    ViewBag.MenuConfig = "open";
    ViewBag.MenuConfigOrganizacao = "open";
    ViewBag.MenuConfigOrganizacaoUsuario = "active";
    ViewData["Titulo"] = "Usuários";
}

<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <div class="my-auto">
            <h5 class="page-title fs-21 mb-1">Usuários</h5>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Gestão de Usuários</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listar</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex my-xl-auto right-content align-items-center">
            <div class="pe-1 mb-xl-0">
                <button type="button" class="btn btn-info btn-icon me-2 btn-b"><i class="mdi mdi-filter-variant"></i></button>
            </div>
            <div class="pe-1 mb-xl-0">
                <button type="button" class="btn btn-danger btn-icon me-2"><i class="mdi mdi-star"></i></button>
            </div>
            <div class="pe-1 mb-xl-0">
                <button type="button" class="btn btn-warning  btn-icon me-2"><i class="mdi mdi-refresh"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <form asp-action="Index" method="get">
                        <div class="input-group mb-3 col-4">
                            <input type="text" class="form-control" placeholder="Buscar...">
                            <button class="btn btn-primary" type="submit" value="Search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#_AdicionarUsuarioModal">Adicionar</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col" width="16px">
                                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                                    </th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Unidade</th>
                                    <th scope="col">Setor</th>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="text-end">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <th scope="row">
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel1">
                                        </th>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-xs me-2 avatar-rounded">
                                                    <img src="@item.Foto" alt="img">
                                                </span>@item.Nome
                                            </div>
                                        </td>
                                        <td>@item.Unidade</td>
                                        <td>@item.Setor</td>
                                        <td>@item.Cargo</td>
                                        <td>@item.Email</td>
                                        <td class="text-end">
                                            <button class="btn btn-icon btn-sm btn-success"><i class="ri-download-2-line"></i></button>
                                            <button class="btn btn-icon btn-sm btn-info"><i class="ri-edit-line"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_PaginacaopartialView" model="@Model.Paginacao" />
    <partial name="_ModalAdicionarUsuarioPartialView" model="1" />
</div>

@section Scripts {
    <script>
    function enviarFormulario() {
        const nome = $('#nome').val();
        const apelido = $('#apelido').val();
        const email = $('#email').val();
        const unidade = $('#unidade').val();
        const setor = $('#setor').val();
        const cargo = $('#cargo').val();

        const dadosFormulario = {
            Nome: nome,
            Apelido: apelido,
            Email: email,
            CodigoUnidade: Number(unidade),
            CodigoSetor: Number(setor),
                CodigoCargo: Number(cargo) == 0 ? null : Number(cargo)
        };

        $.ajax({
            url: '@(Url.Action("Criar", "Usuario"))',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(dadosFormulario),
            success: function (response) {
                Swal.fire({
                    title: 'Sucesso!',
                    text: 'Dados enviados com sucesso!',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
            },
            error: function (error) {
                Swal.fire({
                    title: 'Erro!',
                    text: 'Ocorreu um erro ao enviar os dados.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }

    $(document).ready(function () {
        
        $('.select-control').each(function() {
            const $modalParent = $(this).closest('.modal'); // Encontra o modal mais próximo do select
            $(this).select2({
                dropdownParent: $modalParent
            });
        });

        function carregarUnidades() {
            $("#setor").attr('disabled', true);
            $.ajax({
                url: '@(Url.Action("UnidadesSelectList","Organizacao"))',
                type: 'GET',
                success: function (data) {
                    const unidadeSelect = $('#unidade');
                    unidadeSelect.empty();
                    unidadeSelect.append('<option value="">Selecione a Unidade</option>');
                    data.forEach(function (item) {
                        unidadeSelect.append(`<option value="${item.chave}">${item.valor}</option>`);
                    });
                },
                error: function () {
                    alert('Erro ao carregar Unidades.');
                }
            });
        }

        function carregarSetores(codigoUnidade) {
            $.ajax({
                url: `@(Url.Action("SetoresPorUnidadeSelectList","Organizacao"))?codigoUnidade=${codigoUnidade}`,
                type: 'GET',
                success: function (data) {
                    $("#setor").removeAttr('disabled');
                    const setorSelect = $('#setor');
                    setorSelect.empty();
                    setorSelect.append('<option value="">Selecione o Setor</option>');
                    data.forEach(function (item) {
                        setorSelect.append(`<option value="${item.chave}">${item.valor}</option>`);
                    });
                },
                error: function () {
                    alert('Erro ao carregar Setores.');
                }
            });
        }

        function carregarCargos() {
            $.ajax({
                url: '@(Url.Action("CargosSelectList","Organizacao"))',
                type: 'GET',
                success: function (data) {
                    const cargoSelect = $('#cargo');
                    cargoSelect.empty();
                    cargoSelect.append('<option value="">Selecione o Cargo</option>');
                    data.forEach(function (item) {
                        cargoSelect.append(`<option value="${item.chave}">${item.valor}</option>`);
                    });
                },
                error: function () {
                    alert('Erro ao carregar Cargos.');
                }
            });
        }

        $('#unidade').change(function () {
            const codigoUnidade = $(this).val();
            if (codigoUnidade) {
                carregarSetores(codigoUnidade);
            } else {
                $('#setor').empty().append('<option value="">Selecione o Setor</option>');
            }
        });

        // Carregar Unidades e Cargos ao carregar a página
        carregarUnidades();
        carregarCargos();
    });
</script>
}